# Created by venv; see https://docs.python.org/3/library/venv.html
.env
extensions/
bin/
lib/
cli/
.pytest_cache/
__pycache__/
node_modules/
include/
argv.json
package-lock.json
package.json
pyvenv.cfg
data/bdline_gpkg_gb
data/onsud_apr_2025
data/uprn_to_council_data_SE.csv