{% extends "base.html" %}
{% block content %}

      <div class="govuk-grid-row">
        <div>
          <h1 class="govuk-heading-l">Hard to Heat Homes</h1>
          <table class="govuk-table govuk-table--small-text-until-tablet" id="data">
            <caption class="govuk-table__caption govuk-table__caption--m">sum(like_it_hot)</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">UPRN</th>
                <th scope="col" class="govuk-table__header">Address</th> 
                <th scope="col" class="govuk-table__header">Connectivity</th>
                <th scope="col" class="govuk-table__header">Age</th>
                <th scope="col" class="govuk-table__header">Material</th>
                <th scope="col" class="govuk-table__header">EPC Rating</th>
                <th scope="col" class="govuk-table__header">EPC Points</th>
                <th scope="col" class="govuk-table__header">Score</th>
                <th scope="col" class="govuk-table__header">Status</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              {% for prop in properties %}
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a href="{{url_for('property', uprn=prop.uprn)}}">{{ prop.uprn }}</a></th>
                <th scope="row" class="govuk-table__header" id="{{prop.uprn}}">
                  {% if prop.address  == "" %}
                    <a onclick="setAddress('{{prop.uprn}}','{{prop.uprn}}', '{{key}}')" style="color:blue; text-decoration: underline">Click for address</a>
                  {% else %}
                    {{ prop.address }}
                  {% endif %}
                  </th>    
                <th scope="row" class="govuk-table__header">{{ prop.connectivity }}</th>
                <th scope="row" class="govuk-table__header">{{ prop.age }}</th>
                <th scope="row" class="govuk-table__header">{{ prop.material }}</th>
                <th scope="row" class="govuk-table__header">{{ prop.epc_rating }}</th>
                <th scope="row" class="govuk-table__header">{{ prop.epc_score }}</th>
                <th scope="row" class="govuk-table__header">{{ prop.score }}</th>
                <th scope="row" class="govuk-table__header">{{ "Void" if prop.void else "Occupied"}}</th>
                
              </tr>
              {% endfor %}
            </tbody>
          </table>

          {% block scripts %}
          <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
          <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
          <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
            <script>
            $(document).ready(function (){
              $("#data").DataTable({
                "paging": false
              });
            })</script>
          {% endblock %}
  {% endblock %}




