{% extends "base.html"%}
{% block content%}
<div class="govuk-width-container">
    <a href="{{url_for('home')}}" class="govuk-back-link">Home</a>
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 id="{{property.uprn}}" class="govuk-heading-xl">
            {% if property.address  == "" %}
                <span onclick="setAddress('{{property.uprn}}','{{property.uprn}}', '{{key}}')" style="color:blue; text-decoration: underline">Click for address<span>
            {% else %}
                {{ property.address }}
            {% endif %}
          </h1>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l">Two-thirds column</h2>
          <p class="govuk-body-l">This is a lead paragraph inside a two-thirds wide column</p>
          <p class="govuk-body">This is a paragraph inside a two-thirds wide column</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <h3 class="govuk-heading-m">One-third column</h3>
          <p class="govuk-body">This is a paragraph inside a one-third wide column</p>
        </div>
      </div>
    </main>
  </div>
  
{% endblock %}