{% extends "base.html"%}
{% block content%}
<div class="govuk-width-container">
    <a href="{{url_for('home')}}" class="govuk-back-link">Home</a>
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 id="{{property.uprn}}" class="govuk-heading-xl">
                {{ property.address }}
          </h1>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <table class="govuk-table">
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">UPRN</th>
                        <td class="govuk-table__cell">{{property.uprn}}</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Connectivity</th>
                    <td class="govuk-table__cell">{{property.connectivity}}</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Building Materials</th>
                    <td class="govuk-table__cell">{{property.material}}</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Year Of Construction</th>
                    <td class="govuk-table__cell">{{property.age}}</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">EPC Rating</th>
                    <td class="govuk-table__cell">{{property.epc_rating}}</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">EPC Score</th>
                    <td class="govuk-table__cell">{{property.epc_score}}</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">EPC Score</th>
                    <td class="govuk-table__cell">{{property.score}}</td>
                  </tr>
                </tbody>
              </table>
              
        </div>
        <div class="govuk-grid-column-one-third">
          <h3 class="govuk-heading-m">Map Pending</h3>
          <p class="govuk-body">A picture of a map</p>
        </div>
      </div>
    </main>
  </div>

  
  {% block scripts %}
  <script>
    window.onload = function() {
        if ('{{property.address}}' == "") {
            setAddress({{property.uprn}}, {{property.uprn}}, '{{key}}');
        }
    }
  </script>
  {% endblock %}
  
{% endblock %}